
<div class="list-items g-row g-cont has-line-clamp">
    <!--<app-single-task class="g-col sm-2/4 md-1/3 lg-1/4" *ngFor="let task of filteredTasks.uncompleted"  [task]="task" (remove)="deleteTask($event)"></app-single-task>-->
    <!-- items being paged -->
    <app-single-task class="g-col sm-2/4 md-1/3 lg-1/4"
                    *ngFor="let task of pagedItems; trackBy:identify"
                    [task]="task"
                    (remove)="deleteTask($event)"></app-single-task>
</div>
<div class="g-cont g-wrap nav-page">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li>
            <button mat-raised-button color="primary"
                    (click)="setPage(1)"
                    [disabled]="pager.currentPage === 1">First</button>
        </li>
        <li>
            <button mat-raised-button color="primary"
                    (click)="setPage(pager.currentPage - 1)"
                    [disabled]="pager.currentPage === 1"><mat-icon>navigate_before</mat-icon></button>
        </li>
        <li *ngFor="let page of pager.pages">
            <button mat-raised-button [color]="pager.currentPage === page ? 'warn': 'primary'" (click)="setPage(page)">{{page}}</button>
        </li>
        <li>
            <button mat-raised-button color="primary"
                    (click)="setPage(pager.currentPage + 1)"
                    [disabled]="pager.currentPage === pager.totalPages"><mat-icon>navigate_next</mat-icon></button>
        </li>
        <li >
            <button mat-raised-button color="primary"
                    [disabled]="pager.currentPage === pager.totalPages"
                    (click)="setPage(pager.totalPages)">Last</button>
        </li>
    </ul>
</div>

